body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px;
}

#high-scores {
    color: plum;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 40px;
}

.questionHeader {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 200px 10px 200px;
}

.quiz-box {
    margin: 0px 200px;
}

#description {
    font-size: 18px;
}

.start-btn {
    background-color: #351c75;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 20px;
}

.answer-btn {
    background-color: #351c75;
    color: white;
    text-align: left;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 5px 0px;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 30%;
    margin: 0px 0px 0px 200px;
}

.result {
    font-size: 28px;
    font-style: italic;
    color: lightslategray;
    border-top: 1px solid lightslategray;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 200px 0px 200px;
}

.outOfTimeHeader {
    color: red;
}